<div class="knot-metadata <%= knot.done ? "knot-inactive" : "knot-active" %>">
  <div class="date float-left">
    <%= knot.happens_at.strftime("%-m.%-d - %A") %>
    <a href="/yarns/<%= knot.yarn.id %>">
      [<%= knot.yarn.name %>]
    </a>
  </div>
  <a class="float-right" href="/knots/<%= knot.id %>/done">
    <button class="btn <%= knot.done ? "btn-danger" : "btn-success" %>">
      <%= knot.done ? "undo" : "done" %>
    </button>
  </a>
  <a class="float-right" href="/knots/<%= knot.id %>/edit">
    <button class="btn btn-warning">
      ✎
    </button>
  </a>
</div>
<div class="knot-details">
  <%= knot.details %>
</div>
