<div class="yarn-show">
  <% if @yarn.pid.present? %>
    <%= render 'parent', yarn: @yarn, parent: @parent %>
  <% end %>
  <%= render 'details', yarn: @yarn %>
  <%= render 'form', yarn: @new_yarn %>
  <% @children.each do |child| %>
    <%= render 'details', yarn: child %>
  <% end %>
  <% @yarn.knots.each do |knot| %>
    <%= render 'knots/details', knot: knot %>
  <% end %>
</div>
<div class="yarn-add-knot">
  <a href="/?yid=<%= @yarn.id %>">
    <button class="btn btn-success">
      Add Knot
    </button>
  </a>
</div>
