<div class="yarn-show">
  <% if @yarn.pid.present? %>
      <div class="yarn-up"><a href="/yarns/<%= @yarn.pid %>"><< <%= @parent.name %></a></div>
  <% end %>
  <div class="yarn-current">
    <%= @yarn.name %>
  </div>
  <div class="yarn-form">
    <%= form_for(@new_yarn) do |f| %>
        <%= f.text_field :name %>
        <%= f.hidden_field :pid %>
        <%= f.submit "+" %>
    <% end %>
  </div>
  <% @children.each do |child| %>
      <div class="yarn-child">
        <a href="/yarns/<%= child.id %>"><%= child.name %></a>
      </div>
  <% end %>
  <% @yarn.knots.each do |knot| %>
      <div class="yarn-knots">
        <%= knot.details %>
      </div>
  <% end %>
</div>
