<!DOCTYPE html>
<html>
  <head>
    <title>YarnBall</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="menu">
      <a href="/yarns/<%= @root.id %>">yarns</a>
      <a href="/knots">list</a>
      <a href="/">add</a>
    </div>
    <%= yield %>
  </body>
</html>
